---
import Head from '../components/Head.astro';
import Nav from '../components/Nav.astro';
import better from '../lib/better.min.js';

const w100 = better.from(`color(oklab 1 0 0`).hex;
const w75 = better.from(`color(oklab 0.75 0 0`).hex;
const w50 = better.from(`color(oklab 0.5 0 0`).hex;
const w25 = better.from(`color(oklab 0.25 0 0`).hex;
const w0 = better.from(`color(oklab 0 0 0`).hex;
---
<html>
<head>
  <Head title="" />
  <style lang="scss">
    .info {
      display: grid;
      grid-template-columns: auto min-content;
      padding: 1rem 0 1rem 1.25rem;
      width: 50%;
    }

    .color {
      display: grid;
      min-height: 75vh;
      grid-template-columns: 1fr 1fr;
    }

    .color-selection {
      align-items: center;
      display: flex;
    }

    .color-compare {
      display: flex;
      flex-direction: column;
    }

    #color-string {
      width: 14rem;
    }

    .table {
      display: grid;
      grid-template-columns: min-content auto;
      grid-column-gap: 1.5em;
      margin: 0;
      padding: 0;

      dl,
      dd {
        margin: 0;
        padding: 0;
      }
    }
  </style>
</head>
<body>
  <Nav />

  <main>
    <div class="info">
      Analyze an individual color

      <label class="picker">
        <input id="picker" type="color" value="#000000">
        <input id="color-string" type="text" value="#000000">
      </label>
    </div>

    <div class="color">
      <div id="color-block" class="color-block">
        <div class="color-block-info">
          <dl class="table">
            <dt>Hex</dt><dd id="hex"></dd>
            <dt>RGB</dt><dd id="rgb"></dd>
            <dt>P3</dt><dd id="p3"></dd>
            <dt>Oklab</dt><dd id="oklab"></dd>
            <dt>Oklch</dt><dd id="oklch"></dd>
            <dt>Luv</dt><dd id="luv"></dd>
          </dl>
        </div>
      </div>
      <div class="color-compare">
        <div class="color-block" style={`color:black;background:${w100}`}><div class="color-block-info">100%</div></div>
        <div class="color-block" style={`color:black;background:${w75}`}><div class="color-block-info">75%</div></div>
        <div class="color-block" style={`background:${w50}`}><div class="color-block-info">50%</div></div>
        <div class="color-block" style={`background:${w25}`}><div class="color-block-info">25%</div></div>
        <div class="color-block" style={`background:${w0}`}><div class="color-block-info">0%</div></div>
      </div>
    </div>
  </main>

  <script type="module" src="/src/lib/inspect.js"></script>
</body>
</html>
